<h1 id="racer">Racer</h1>
<p>Fastest keystroke in Codea</p>
<div>
	<h3 id="winner"></h3>
</div>
	
<input id="start" type="submit" value="Start"><br><br>
<div id="counter">
	<h3 id="number"></h3>
</div>

<table class="tabla_carreritas">
  <tr id="player_1">
    <td><strong>Player 1</strong></td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
		<td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player_2">
    <td><strong>Player 2</strong></td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
		<td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
