<h1 id="racer">Racer</h1>
<p>Compete with the best drivers</p>

<table class="tabla_carreritas">
  <tr id="player_1">
    <td><strong>Player 1</strong></td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
		<td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="player_2">
    <td><strong>Player 2</strong></td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
		<td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
