<h1>Racer</h1>
<p>Compete with the best drivers</p>

<table class="tabla_carreritas">
  <tr id="juagador_1">
    <td>Player 1</td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
		<td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr id="juagador_1">
    <td>Player 2</td>
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
		<td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
